{% extends "layout.html" %} {% block title %} File Upload {% endblock %} {%
block body %}
<div class="jumbotron">
    <h1>Value and Mask numbers!</h1>
</div>
<div class="container">
    <form method="POST" action="/" enctype="multipart/form-data">
        <p><input type="file" name="csvfile" value="" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</div>
<div class="container">
    <p>E.g.</p>
    <table>
        <tr>
            <td>Header</td>
        </tr>
        <tr>
            <td>number</td>
        </tr>
        <tr>
            <td>number</td>
        </tr>
    </table>
</div>
{% endblock %}
